html, body {
	height: 100%;
}

body{
	background-color: #C6C6C6;
} 

h1 {
	padding: 10px;
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

.conteiner{
	display: float;
}

.item {
	padding: 5px;
	background-color: none;
	text-align: center;
	float: 1
}

.expressao {
	float: 1;
}

.centraliza {
    margin: 0 auto;
}
