<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Integrador</title>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/axios.min.js"></script>
	<script type="text/javascript" src="js/funcoes.js"></script>

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<!-- Última versão CSS compilada e minificada -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<section class="conteiner">
		<div class="row">
			<div class="col-sm">
				<div class="item centraliza">
					<h1>Integrador para Métodos Computacionais</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="btn-group item" data-toggle="buttons">
					<label class="btn btn-secondary active" id="trapezio" for="calculo1">
						<input name="calculo" type="radio" id="calculo1" value="trapezio" autocomplete="off" checked>Trapézio Repetido
					</label>
					<label class="btn btn-secondary" id="newtoncotes4" for="calculo2">
						<input name="calculo" type="radio" id="calculo2" value="newtoncotes4" autocomplete="off">Newton-Cotes
					</label>
					<label class="btn btn-secondary" id="simpson13" for="calculo3">
						<input name="calculo" type="radio" id="calculo3" value="simpson13" autocomplete="off">Simpson 1/3
					</label>
					<label class="btn btn-secondary" id="simpson38" for="calculo4">
						<input name="calculo" type="radio" id="calculo4" value="simpson38" autocomplete="off">Simpson 3/8
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="item centraliza">
					<p>
						<input type="text" id="expressao" name="expressao" placeholder="Expressão">
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="item centraliza">
					<p>
						Dê
						<input type="text" id="parametro" name="parametro" placeholder="Paramêtro" size="6"> =
						<input type="text" id="a" name="a" placeholder="A" size="6"> até
						<input type="text" id="b" name="b" placeholder="B" size="6"> Erro
						<input type="text" id="erro" placeholder="Erro desejado" size="10">
					</p>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="item centraliza">
				<input type="submit" value="Calcular!" prevent="default" onclick="enviaValores();">
			</div>
		</div>
		<div class="row">

			<div class="item centraliza">
				<label id="resultado" hidden></label>
			</div>
		</div>

		</div>

	</section>

</body>

</html>